
/* Page Styles
================================ */

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font: normal 1.1em/1.5 sans-serif;
	color: #222;
	background-color: #edeff0;
}

/* Icon Fonts
================================ */
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* Layout Element Colors
================================ */

.main-header       { background-color: #384047; }
.main-nav a        { background-color: #3f8abf; }
.main-logo a       { background-color: #5fcf80; }
.primary-content   { background-color: #caebf6; }
.secondary-content { background-color: #bfe3d0; }
.main-footer       { background-color: #b7c0c7; }

/* Main Layout
================================ */

.main-header,
.col {
	padding: 20px;
}
.main-logo a, 
.main-nav a {
	display: block;
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 8px 15px;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}
.main-nav a::before {
	font-family: 'icomoon';
	content: attr(data-icon);
	color: #fff;
	position: absolute;
	top: 10px;
	left: -30%;
	transition: 0.4s;
}
.main-nav a:hover::before {
	left: 10%;
}

	.no-flexbox .main-nav a:hover::before {
		left: 18px;
	}
.main-footer {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
/*.extra-content,*/
/*.main-banner {*/
/*	display: none;*/
/*}*/

/* Imagery
================================ */

.feat-img {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	border: solid 1px;
	padding: 5px;
}

/* Media Queries
================================ */

@media (min-width: 1px) and (max-width: 768px) {
		.main-nav li {
			margin-top: 15px;
		}
		.main-nav li:first-child {
			margin-top: 0;
		}
		.extra-content,
		.main-banner {
			display: none;
		}
}

@media (min-width: 769px) {

	body {
		padding-top: 120px;
	}

	/* Header and Banner Layout
	================================ */

	.main-header {
		position: fixed;
		top: 0;
		width: 100%;
		height: 120px;
	}
	.main-nav {
	    display: -webkit-flex;
		display: flex;
		height: 100%;
	}
	.main-nav li {
	    -webkit-align-self: center;
		align-self: center;
		-webkit-flex-grow: 1;
		flex-grow: 1;
		margin-left: 8px;
		margin-right: 8px;
		transition: 0.5s;
	}
		.no-flexbox .main-nav li {
			display: inline-block;
			margin-top: 12px;
			width: 150px;
		}
	.main-nav li:hover:not(.main-logo) {
		-webkit-flex-grow: 2;
		flex-grow: 2;
	}
	.main-logo:first-child {
	    -webkit-flex-grow: 1.5;
		flex-grow: 1.5;
		/*margin-right: auto;*/
		/*margin-right: 50px;*/
	}
	.main-banner {
		background: #dfe2e4;
		text-align: center;
		padding: 50px 15px;
		display: block;
	}

	/* Column Layout
	================================ */
	
	.content-row {
		display: -webkit-flex;
		display: flex;
	}
	
	.col {
		-webkit-flex: 1;
		flex: 1;
	}
	
		.no-flexbox .col {
			float: left;
			width: 33.3%;
		}
	
	.primary-content {
		-webkit-flex: 2;
		flex: 2;
		order: -1;
	}
	
	.extra-content {
		order: 1;
	}
	
	/* Imagery
	================================ */

	.feat-img {
		width: 50%;
		float: left;
		margin-right: 25px;
	}
}
