/* Page Styles
================================ */

body {
    font: normal 1.1em/1.5 sans-serif;
    color: #222;
    background-color: #edeff0;
}

.main-wrapper {
    width: 90%;
    margin: auto;
}

* {
    box-sizing: border-box;
}
/* Layout Element Colors
================================ */

.main-header        { background-color: #384047; }
.main-logo          { background-color: #5FCF80; }
.main-nav li        { background-color: #3F8ABF; }
.primary-content    { background-color: #CAEBF6; }
.secondary-content  { background-color: #BFE3D0; }
.main-footer        { background-color: #B7C0C7; }

/* Header, Banner and Footer Layouts
================================ */

.main-header {
    padding: 20px;
    display: table;
    width: 100%;
    min-height: 150px;
}

.main-logo,
.main-nav,
.main-nav li {
    display: inline-block;
}

.main-logo,
.main-nav {
    display: table-cell;
    vertical-align: middle;
}

.main-logo,
.main-nav li {
    border-radius: 5px;
}

.main-nav li {
    margin-right: 10px;
}

.main-logo {
    width: 120px;
}

.main-nav {
    padding-left: 50px;
}

.main-logo a,
.main-nav a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px 20px;
}

/* Media Queries
================================ */

@media (max-width: 768px) {
    .main-logo,
    .main-nav,
    .main-nav li {
        display: block;
        width: initial;
        margin: initial;
    }
    
    .main-nav {
        padding-left: initial;
    }
    
    .main-nav li {
        margin-top: 15px;
    }
}