/* Page Styles
================================ */

body {
    font: normal 1.1em/1.5 sans-serif;
    color: #222;
    background-color: #edeff0;
}

.main-wrapper {
    width: 90%;
    margin: auto;
}

/* Layout Element Colors
================================ */

.main-header        { background-color: #384047; }
.main-logo          { background-color: #5FCF80; }
.main-nav li        { background-color: #3F8ABF; }
.primary-content    { background-color: #CAEBF6; }
.secondary-content  { background-color: #BFE3D0; }
.main-footer        { background-color: #B7C0C7; }

/* Header, Banner and Footer Layouts
================================ */

.main-header {
    padding: 20px;
}

.main-logo,
.main-nav,
.main-nav li {
    display: inline-block;
}

.main-logo,
.main-nav li {
    padding: 10px 20px;
    border-radius: 5px;
}

.main-nav li {
    margin-top: 15px;
    margin-right: 10px;
}

.main-logo {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 50px;
    width: 120px;
}

.main-logo a,
.main-nav a {
    color: white;
    text-decoration: none;
}