$time: "red";

a {
	color: $time;
}

@mixin color_class($color) {
	.#{$color} {
		color: $color;
		background-image: url("images/#{$color}.jpg");
		@if $color == red {
			border: 1px solid black;
		}
	}
}

@mixin box($width) {
	@if $width > 100px {
		padding: 0px;
	} @else if $width == 100px {
		padding: 5px;
		.big {
			content: "huge!";
		}
	} @else {
		padding: 10px;
	}
}

div {
	@include box(100px);
}

@include color_class(blue);
@include color_class(red);
@include color_class(green);
@include color_class(gray);



@mixin cars($make, $color) {
	.#{$make} {
  	border: 1px solid black;
    background-image: url("#{$color}.png");
  }
}

$time: "morning";

@if $time == "morning" {
	a {
  	color: red;
  }
} @else if $time == "afternoon" {
	a {
  	color: blue;
  }
} @else {
	a {
  	color: gray;
  }
}

@mixin box($size: 10px, $color: black, $display: block) {
	width: $size;
	height: $size;
	background: $color;
	display: $display;
}

.box {
	@include box($color: blue, $size: 20px);
}

.new-box {
	@include box();
}

@mixin band($name, $members...) {
	@each $member in $members {
		.#{$name}.#{$member} {
			background: url("images/#{$name}/#{$member}.jpg");
		}
	}
}

@include band(radiohead, thom, jonny, colin, phil);
@include band(nin, trent);