
/* Global
================================ */

.grid-container {
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;
}

img {
	width: 100%;
}

/* Media Queries
================================ */

@media (min-width: 768px) {
	
	/* Columns
	=========================================== */

	.grid-container > [class^="grid-"] {
		float: left;	/* */
		min-height: 1px; /* Will be needed for safety - prevent columns from horizontally collapsing */
		padding-left: 10px;
		padding-right: 10px;
		margin-left: 2%; /* Left column gutters */
	}
	
	.grid-container > [class^="grid-"]:first-child {
		margin-left: 0;	/* Do not give a gutter to our first column */
	}
	
	.grid-container > [class^="grid-"]:last-child {
		float: right; /* Ensure grid container is flush with right side of page */
	}
	
	/* Columns are 65px wide, with 20px gutters
	=========================================== */
	
	.grid-1 {
		width: 6.5%;
	}
	.grid-2 {
		width: 15%;
	}
	.grid-3 {
		width: 23.5%;
	}
	.grid-4 {
		width: 32%;
	}
	.grid-5 {
		width: 40.5%;
	}
	.grid-6 {
		width: 49%;
	}
	.grid-7 {
		width: 57.5%;
	}
	.grid-8 {
		width: 66%;
	}
	.grid-9 {
		width: 74.5%;
	}
	.grid-10 {
		width: 83%;
	}
	.grid-11 {
		width: 91.5%;
	}
	.grid-12 {
		width: 100%;
	}


	/* Clearfix
	================================ */

	.group:after,
	.grid-container:after {
	  content: " ";
	  display: table;
	  clear: both;
	}
}
